/* style.css */

@font-face {
    src: url("../fonts/Alegreya-Regular.ttf");
    font-family: "Alegreya-Regular";
}

body {
    font-family: 'Alegreya-Regular';
    background-color: aliceblue;
}

.center {
    margin: auto;
    text-align: center;
    width: 50%;
    padding: 1em;
}

h1 {
    font-size: 24px;
    padding: 0.5em;
    text-align: center;
}

p {
    font-size: 1.5em;
    padding: .5em;
}

.footnote {
  font-size: 1.25em;
  margin: .5em;
}

li {
    background: white;
    margin: 1em;
}

footer {
  font-size: 1.0em;
  bottom: 0;
  padding: 1em;
  width: 100%;
}

.r {
  color: crimson;
}

.g {
  color: darkgreen;
}

.p {
  color: darkorchid;
}

.b {
  color: cornflowerblue;
}

.center-pag {
  font-size: 1.0em;
  width: 100%;
  text-align: center;
}

.pagination {
  /* margin: auto; */
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: cornflowerblue;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.listbox {
    margin: auto;
    text-align: center;
    width: 50%;
    padding: 1em;
    font-size: 1.5em;
}

.related {
    margin: auto;
    text-align: center;
    width: 50%;
    padding: 1em;
    font-size: 1em;
}
